.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgrey;
    margin: 5px;
    margin-left: 50px;
}
.btn-regular{
    background-color: gold;
    width: 150px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}